<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Down - Le jeu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="logo.png">
</head>
<body>
    <div class="nav_bar">
        <div class="barre_bouton">
            <a href="index.html">Accueil</a>
            <a href="contact.html">Contact</a>
        </div>
    </div> vh
    <main>
        <form class="form_container_inscription" action="/inscrire" method="POST">
            <p class="form_container_heading">S'inscrire</p>
            <input class="form_contener_inputs" type="username"  id="username" name="username" placeholder="nom d'utilisateur">
            <input class="form_contener_inputs" type="password" id="password" name="password" placeholder="mot de passe">
            <input class="form_contener_inputs" type="password" id="conf_mdp" name="conf_mdp" placeholder="confirmez votre mot de passe">
            <button class="form_contener_button" type="submit">S'inscrire</button>
            <a href="{{ url_for('login')}}">Se connecter</a>
        </form>
    </main>
</body>
</html>